
p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  line-height: 36px;
  color: #99999;
}

/**position the card in the centre of the page**/
.card {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.outer {
  height: 400px;
  width: 600px;
  background-color: red;
  box-shadow: 2px 2px 10px #999;
  /**Stripey background**/
  background: repeating-linear-gradient(
  45deg,
  #8E1541, /**red**/
  #8E1541 10px, /**red**/
  #F8F6E7 10px, /**cream/background**/
  #F8F6E7 20px, /**cream/background**/
  #E34680 20px, /**pink**/
  #E34680 30px, /**pink**/
  #F8F6E7 30px, /**cream/background**/
  #F8F6E7 40px /**cream/background**/
);
}

/** Main bit of the card **/
.inner {
  height: 93%;
  width: 96%;
  display: flex;
  /** Background gradient **/
  background: #F8F6E7; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red, yellow, green); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#F8F6E7, #F8F6E7, #E2D4B4); /* Standard syntax */
}

.left,
.right {
  width: 50%;
}

.message {
  padding: 20px 40px;
  overflow-y: auto;
  height: 300px; 
}

/** The line in between left and right **/
.middle {
  background-color: #000;
  width: 1px;
  height: 90%;
  margin-top: 25px;
}

.postage-stamp {
  border: 2px dashed #616161;
  height: 90px;
  width: 80px;
  float: right;
  margin-top: 35px;
  margin-right: 35px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10px;

}

.postage-stamp p {
  font-family: Helvetica;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.address {
  width: 80%;
  position: relative;
  left: 35px;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #616161;
}

.line p {
  padding-left: 20px;
}

